
<div class="titre">

  <h1>Liste des Logs</h1>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#basicModal">
  Nouveau log
</button>


<!-- Modal -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal";</button>
            <h4 class="modal-title" id="myModalLabel">Nouveau Log</h4>
            </div>
            <div class="modal-body">
                <form action="/log" method="post">
                  <div id="new">
                    <p><input type="text" name="auteur" placeholder="Auteur"/></p>
                    <p><textarea id="message" name="message"></textarea><p>
                    <p><input type="submit" value="Poster"/><p>
                  </div> <!-- Fin div new -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="row"/>


<div class="col-xs-8 col-xs-offset-2">
  
      <% @towel.each do |post| %>
        <p>
  <div id="post">
        <div id="inner">
          <p><b><%= post.auteur%></b></p> 
        </div> <!-- Fin div inner -->
        <div id="bodypost">
          <div id="text">
            <p><%= post.body%></p> 
          </div> <!-- Fin de div text -->
          <%= post.created_at.strftime('%H:%M')%> 
          <%= post.created_at.strftime('%d/%m/%Y')%>
          <p><a href="/delete/<%=post.id%>">Supprimer</a>  |  <a href="/edit/<%=post.id%>">Editer</a></p>
        </div> <!-- Fin de div bodypost -->
  </div> <!-- Fin div post -->
        </p>
      <%end%>
  
</div> <!-- Fin col-xs-8 -->
